
.light-theme {
    --primary-background: #f4f4f4;
    --secondary-background: #fafafa;
    --theme-icon: #555;
    --icon-hover: black;
    --primary-text-color: #555;
    --shadow: rgba(0, 0, 0, .4);
    --link-color: #b23a48;
    --link-background: rgba(197, 58, 72, .25);
    --button-background: #5b8266;
    --button-background-hover: #51745B;
    --button-color: white;

    color: var(--primary-text-color);
    background: var(--primary-background);
}

.dark-theme {
    --primary-background: #121616; //#1B2021;
    --secondary-background: #252b2b;
    --theme-icon: #EFEFEF;
    --icon-hover: white;
    --primary-text-color: #EFEFEF;
    --shadow: rgba(0, 0, 0, .4);
    --link-color: #b23a48;
    --link-background: rgba(197, 58, 72, .25);
    --button-background: #5b8266;
    --button-background-hover: #51745B;
    --button-color: white;

    color: var(--primary-text-color);
    background: var(--primary-background);
}


.theme-switch {
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 20;
    background: none;
    border: none;
    transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
    color: var(--primary-text-color)
}

.theme-switch input {
    display:none;
}

.theme-switch:hover {
    transform: scale(1.1);
    transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
}

/*---------- Navbar ----------*/
nav {
    position: fixed;
    width: 100%;
    background: var(--primary-background);
    z-index: 9999;
    box-shadow: 0 -30px 100px -23px var(--shadow);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

nav ul li {
    padding: 10px 20px 10px 20px;
    border-bottom: transparent 2px solid;
}

.mobile-nav {
    display: none;
}

nav ul li:hover {
    border-bottom: var(--primary-text-color) 2px solid;
    transition: all .4s ease;
}

.nav-link {
    font-size: 18px;
    text-decoration: none;
    color: var(--primary-text-color);
}


button.active.focus, button.active:focus, button.focus, button.focus:active, button:active:focus, button:focus, input {
    outline: none;
    box-shadow: none;
}

h1,h2,h3,h4,h5,h6,p {
    font-weight: 300;
    line-height: 150%;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
    margin-top: 35px;
    margin-bottom: 5px;
}

h3 {
    font-weight: 400;
    margin-bottom: 0px;
}

h3 a {
    float: right;
    color: var(--primary-text-color);
    text-decoration: none;
    transition: .5s;
}
h3 a:hover {
    transform: scale(1.25);
    transition: .2s;
}



#layout {
    max-width: 1070px;
    padding: 50px;
    margin: 0 auto;
    min-height: 100vh;
    padding-top: 100px;
}

.iconContainer {
    display: flex;
    justify-content: space-between;
}

.icon {
    color: var(--primary-text-color);
    margin: 10px;
    padding: 10px;
    transition: .5s;
    transform: scale(1.3);
    font-size: 25px;
}

.icon:hover {
    color: var(--icon-hover);
    transform: translateY(-5px) scale(1.3);
    transition: .2s;
}

.socialIconsContainer {
    display: flex;
    justify-content: left;
}

.tagContainer, .projectTagContainer {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    border-radius: 3px;
    color: var(--link-color);
    border: 1px solid var(--link-color);
    padding: 4px 12px 4px 12px;
    margin-right: 6px;
    margin-top: 6px;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    //background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.link {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: var(--link-color);
    white-space: nowrap;
}
.link::after {
    content: "";
    background: var(--link-color);
    position: absolute;
    width: calc(100% + 1px);
    height: 2px;
    z-index: -1;
    transition: 0.3s ease;
    left: -2px;
    bottom: -1px;
}
.link:hover:after {
    height: 110%;
}

.link:hover {
    color: white;
    z-index: 2;
}

.logo {
    max-height: 150px;
    max-width: 500px;
    fill: var(--primary-text-color);
    display: block;
    // filter: drop-shadow( 3px 3px 5px var(--shadow));
}


.projectContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
}

.projectTagContainer {
    display: flex;
    flex-wrap: wrap;
    //position: absolute;
    //bottom: 0;
    //margin-bottom: 10px;
}

.project {
    /*border-radius: 15px;*/
    border: 1px solid var(--secondary-background);
    padding: 0 10px 10px 10px;
    background: var(--secondary-background);
    box-shadow: 0px 0px 20px -5px var(--shadow);
}

.project img {
    width: 100%;
    filter: drop-shadow(0px 0px 5px var(--shadow));
    -webkit-filter: drop-shadow(0px 0px 5px var(--shadow));
    transition: 0.3s ease;
    //margin-bottom: 20px;
}

.project img:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

@media only screen and (max-width: 768px) {
    .projectContainer {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 800px) {
    nav ul {
        display: flex !important;
    }
}

@media only screen and (max-width: 799px) {
    body {
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    #layout {
        max-width: 100% !important;
        padding: 35px;
        padding-top: 100px;
    }

    #layout::-webkit-scrollbar {
        display: none;
      }

    nav {
        position: fixed;
        width: 100%;
        background: var(--primary-background);
        z-index: 9999;
    }
    
    nav ul {
        display: none;
        list-style: auto;
    }
    
    .mobile-nav {
        display: block;
        float: right;
        margin: 10px;
        color: var(--primary-text-color)
    }
}


.contact-block {
    color: var(--button-background);
    text-align: center;
    font-size: 18px;
margin-bottom: 30px;
}

.help-block {
    color: var(--link-color);
}

.form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.form form {
    box-shadow: 0px 0px 20px -5px var(--shadow);
    padding: 20px;
    width: calc(100% - 40px);
    background-color: var(--secondary-background);
}
.btn {
    background: var(--button-background);
    color: var(--button-color);
    font-size: 18px;
    border: none; 
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    margin-top: 20px;
    height: 40px;
}

.btn:hover {
    background: var(--button-background-hover);
}

.btn-login {
    width: 100%;
}

button.active.focus, button.active:focus, button.focus, button.focus:active, button:active:focus, button:focus, input, teaxtarea {
    outline: none !important;
    box-shadow: none !important;
}

.input {
    display: block;
    width: 100%;
    width: -webkit-fill-available;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid var(--primary-text-color);
    color: var(--primary-text-color);
    background-color: var(--secondary-background);
    margin-top: 30px;
    outline: none !important;
    box-shadow: none !important;
    -webkit-appearance: none;
    border-radius: 0 !important;
    -webkit-border-radius:0px;
}

.input + .floating-label {
    transform: translateY(-150%);
    position: absolute;
    transition: all 0.2s ease;
}

.input:focus + .floating-label, .input:valid + .floating-label {
    transform: translateY(-260%);
    transition: all 0.2s ease;
}

#gitBody, #gitBody2 {
    fill: var(--primary-background);
}

#gitBackground {
    fill: var(--icon-hover);
}